@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');

:root{
  --custom-color-1: #ffff;
  --custom-color-2: #181a1b;
  --custom-color-3: #54ea54;
  --custom-color-4: whitesmoke;
}

body {
  margin: 0 auto;
  font-size: 50%;
  font-family: 'TT Firs Neue Trial Var Italic', sans-serif;
}

.header-line {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  align-items: center;
}

.second-section {
  display: flex;
  gap: 10px;
}

#header-line-sign-in {
  border: 1px;
  border-radius: 10px;
  background-color: var(--custom-color-3);
  padding: 5px;
}

.hero {
  background-color: var(--custom-color-2);
  border-radius: 10px;
  color:var(--custom-color-1);
  margin: 10px;
  height: 40vh;
  width: 80%;
  padding: 20px;
  display: flex;
  gap: 10px;
}

.hero-text {
  width: 40vw;
}

.black-background-text2 {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

#lime-green-button {
  background-color: var(--custom-color-3);
  color: var(--custom-color-2);
  border-radius: 10px;
  padding-right:5px;
}

p {
  font-size: 15px;
}

.black-background-text3 {
  display: flex;
  gap: 10px;
}

.destinations-heading {
  margin: 10px;
}

.destinations-paragraph {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 15px;
}

.pic {
  height: 50vh;
  width: 120%;
  border-radius: 10px;
  background-image: url("../images/student.gif.webp");
}

.second-pic {
  width: 80%;
  padding: 10px;
  align-items: center;
}

#try-it-now-button {
  background-color: var(--custom-color-1);
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  width:30%;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  opacity: 0.9;
}

.pictu {
  height: 50vh;
  width: 95%;
  margin: 10px;
  border-radius: 10px;
  background-image: url("../images/work.webp");
}

.picture {
  height: 50vh;
  width: 95%;
  margin: 10px;
  border-radius: 10px;
  background-image: url("../images/writers.webp");
}

.statment {
  background-color: var(--custom-color-3);
  text-align: center;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
  font-size: 10px;
}

.information {
  background-color: var(--custom-color-4);
  padding: 20px;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-bar {
  text-align: center;
  background-color: var(--custom-color-1);
  font-size: medium;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.secnd-bar {
  display: flex;
  align-items: center;
}

.help-for-designers {
  background-color: var(--custom-color-2);
  color: var(--custom-color-1);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.testimonials {
  text-align: center;
}

.lime-green-div {
  background-color: var(--custom-color-3);
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 10px;
  padding: 10px;
}

.ave {
  display: flex;
}

.aveva {
  border-radius: 50px;
}

.line {
  margin-left: 22vw;
  margin-top: 15px;
  margin-right: 22vw;
}

.purple-div {
  background-color: #f08cf0;
  margin-left: 10vw;
  margin-top: 15px;
  margin-right: 10vw;
  border-radius: 10px;
  padding: 10px;
}

.skyblue-div {
  background-color: skyblue;
  margin-left: 10vw;
  margin-top: 15px;
  margin-right: 10vw;
  border-radius: 10px;
  padding: 10px;
}

.footer {
  list-style: none;
  background-color: var(--custom-color-2);
  color: var(--custom-color-1);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--custom-color-2);
  border-radius: 5px;
  padding: 5px;
}

.second-part {
  display: flex;
  gap: 10px;
}

.second-part1 {
  background-color: var(--custom-color-2);
  border-radius: 5px;
  color: var(--custom-color-1);
  padding-left: 10px;
  padding-right: 10px;
}

.second-part2 {
  background-color: #f08cf0;
  border-radius: 5px;
  color: var(--custom-color-2);
  padding-left: 5px;
  padding-right: 5px;
}

.second-part3 {
  background-color: gold;
  border-radius: 5px;
  color: var(--custom-color-2);
  padding-left: 5px;
  padding-right: 5px;
}

.line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  border-top: 1px solid gainsboro;
}

.third-part {
  gap: 30px;
  display: flex;
}

.end-line {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.fin {
  color: gray;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
